body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: flex-end;
    background-color: red;
    margin: 0;
    padding: 0;
}

.side-bar{
    height: 100vh;
    width: 30vw;
    background-color: aqua;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    transform: translate(101%);
    transition: all 200ms linear;
}

.hamburger-icon{
    z-index: 2;
}

.hamburger-1, .hamburger-2, .hamburger-3{
    width: 20px;
    height: 4px;
    margin: 4px;
    background-color: black;
}

.nav-show{
    transform: translate(0);
}

.nav-show-edit{
    transform: translate(50%);
}

.grid-wrapper {
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.grid-stack-item-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-can{
    position: absolute;
    right: 20px;
    top: 40px;
    visibility: hidden;
    z-index: 3;
    font-size: 6rem;
}

.drag-on-trash-can{
    color: red;
}

.show-trash-can{
    visibility: visible;
}