* {
    box-sizing: border-box;
}

.crypto-widget {
    background-color:#0f0f0f;
    width: 750px;
    height: 300px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 5fr;
    justify-content: left;
    align-items: center;
    border: 2px solid #23B5D3;
}

.crypto-search-input {
    margin: 0px 20px 10px 20px;
    padding: 2px 15px 2px 8px;
    background-color: #0f0f0f;
    color: whitesmoke;
    border-radius: 7px;
    border: 2px solid #23B5D3;
}

::placeholder {
    color: whitesmoke;
    opacity: 0.5;
}

.price, .day-high, .day-low, .day-change {
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.crypto-value-descriptor {
    color: #23B5D3;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.crypto-price, .crypto-day-high, .crypto-day-low, .crypto-day-change {
    margin: 10px 20px 10px 20px;
}

.crypto-details-container {
    display: flex;
    flex-direction: column;
}

.crypto-image {
    max-width: 60px;
    margin: 0 auto;
    justify-content: center;
}

.crypto-chart-canvas {
    width: 95%;
    height: 90%;
    color: #23B5D3;
    margin: 25px 0px 0px 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}
