* {
    box-sizing: border-box;
}

.crypto-widget {
    background-color:#0f0f0f;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.name {
    color: whitesmoke;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.price, .day-high, .day-low, .day-change {
    margin: 10px 0px 10px 0px;
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.crypto-id, .crypto-price, .crypto-day-high, .crypto-day-low, .crypto-day-change {
    margin: 0px 20px 0px 20px;
}

.crypto-image {
    max-width: 28px;
}

.time {
    width: 300px;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}